#header {
background: #76bbb6;
border-bottom:6px solid white;
}


#header .nav {
color:white;
font-size:13pt;
font-family:"MuseoSlab500", arial, sans-serif;
}

#login {
color:white;
font-size:10pt;
text-transform:uppercase;
font-family:"MuseoSlab500", arial, sans-serif;
}

.quiz .header {
color:white;
font-family:"MuseoSlab500", arial, sans-serif;
font-size:48pt;
}

.typeword {
background:#faa951;
border:6px solid white;
}

.typeword .title {
color:white;
font-size:15pt;
font-family:"MuseoSlab500", arial, sans-serif;
}

.typeword .word {
color:white;
font-size:46pt;
letter-spacing:88;
font-family:"MuseoSlab500", arial, sans-serif;
}

.inputbox {
background:#bbbdc0;
border:6px solid white;
}

.inputbox .inputtitle {
color:white;
font-size:15pt;
text-transform:uppercase;
font-family:"MuseoSlab500", arial, sans-serif;
}

.inputbox .search {
background:#e6e7e8;
border:1px solid #a7a9ab;
}

.inputbox .outputtitle {
color:white;
font-size:15pt;
text-transform:uppercase;
font-family:"MuseoSlab500", arial, sans-serif;
}

.inputbox .outputtitle {
color:white;
font-size:46pt;
font-family:"MuseoSlab500", arial, sans-serif;
}

.inputbox .correct {
background:white;
color:#f7931d;
font-size:15pt;
text-transform:uppercase;
}

.inputbox .incorrect {
background:white;
color:#f7931d;
font-size:15pt;
text-transform:uppercase;
}

.inputbox .hintbutton {
background:#faa951;
border-radius:10px;
color:white;
font-size:15pt;
font-family:"MuseoSlab500", arial, sans-serif;
}

keyboards {
background:#679c9f;
border:1px solid white;
}

.key {
background:#faa951;
border-top:6px solid white;
}

.key .header {
color:white;
font-family:"MuseoSlab500", arial, sans-serif;
font-size:48pt;
}

.keyalphabet {
background:#faa951;
}
