
/** Steno Speed Bar Chart **/
.chart {
  background: #799F99;
  margin: 5px;
}

.chart rect {
  stroke: #799F99;
  fill: #FFFEFD;
}

.chart text {
  fill: #799F99;
}

.chart text.name {
  fill: #000;
 }
 
.chart line {
  stroke: #c1c1c1;
}

.chart line.benchmark {
  stroke: #F6A354;
  stroke-width: 2;
}

.chart .benchmark_rule {
  fill: #F6A354;
}

.chart .benchmark_label {
  fill: #F6A354;
}

