/*** RESET BOX FOR ALL ELEMENTS ***/

html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl, dt, dd, ol, ul, li, table, tr, td,
form, object, embed, article, aside, canvas, command, details, fieldset, figcaption,
figure, footer, group, header, hgroup, legend, mark, menu, meter, nav, output,
progress, section, summary, time, audio, video, a, span {
  padding: 0;
  border: 0;
  margin: 0;
}






/* css skeleton
  /* Position - put things that affect things outside the box
  display: block;

  /* Box - put styles that affect the box
  width: 100%;
  height: 100%;

  padding: 0px;
  border: 0px;
  margin: 0px;

  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;

  /* Colors - put the colors for the content of the box
  color: #000000; #799F99;   blue-green
  background-color: #FFFEFD; #F6A354;   orange

  /* Text - put styles that affect the content text
  font-family: "MuseoSlab500", arial, sans-serif;
  font-size: 1em;
  text-align: center;
*/






html {
  height: 100%;  /* fixes background not showing */
}

body {
  height: 100%;  /* fixes background not showing */

  /* Colors */  /* background gradient generated by http://www.colorzilla.com/gradient-editor/ */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(118,187,182,0.5) 0%, rgba(118,187,182,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(118,187,182,0.5)), color-stop(100%,rgba(118,187,182,1)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(118,187,182,0.5) 0%,rgba(118,187,182,1) 100%);
  background: -o-radial-gradient(center, ellipse cover,  rgba(118,187,182,0.5) 0%,rgba(118,187,182,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover,  rgba(118,187,182,0.5) 0%,rgba(118,187,182,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(118,187,182,0.5) 0%,rgba(118,187,182,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8076bbb6', endColorstr='#749490',GradientType=1 );

  /* Text */
  font-family: "MuseoSlab500", arial, sans-serif;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);  /* letterpress effect */

  overflow: hidden;
}






#welcome {
  display: none;
}

#title {
  display: none;
}

#tagline {
  display: none;
}

#welcome-text {
  /* Colors */  
  color: #F6A354;  /* orange */

  /* Text */  
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(255, 255, 255, 0.5);  /* emboss effect */
}

#title-text  {
  /* Colors */  
  color: #FFFEFD;  /* white */

  /* Text */
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px rgba(123, 193, 188, 0.75), 3px 3px 1px #FFFEFD;  /* retro effect */
}

#tagline-text {
  /* Colors */  
  color: #F6A354;  /* orange */

  /* Text */  
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(255, 255, 255, 0.5);  /* emboss effect */
}

#slideshow {
  display: none;
}

#more-info {
  display: none;
  overflow-x: hidden;
}

#get-started-button {
  display: none;
}

#get-started-button-text {
}

#learn-more-button {
  display: none;
}

#learn-more-button-text {
}

#disclaimer {
  display: none;
}

#disclaimer-text {
  /* Text */  
  font-size: 14px;
}

div.slide {
  display: none;
  background-color: rgba(255,255,255,0.5);
  padding: 20px;
}

div.slide > p{
  padding-bottom: 2.0em;
}

div.slide > ul  {
  list-style-type: none;
  margin-left: 2.0em;
}

div.slide > li {
  line-height: 4.0em;
  margin: 2.0em;
  padding: 2.0em;
}



.button {
  /* Colors */  
  color: #FFFEFD;  /* white */

  /* Text */  
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(255, 255, 255, 0.5);  /* emboss effect */

  cursor: pointer;
}

.button:hover {
  /* Colors */  
  color: #F6A354;  /* orange */
}

.button:active {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5);  /* deep letterpress effect */
}






/* google-style scrollbars */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.4);
}


/** Steno Speed Bar Chart **/
.chart {
  background: #799F99;
  margin: 5px;
}

.chart rect {
  stroke: #799F99;
  fill: #FFFEFD;
}

.chart text {
  fill: #799F99;
}

.chart text.name {
  fill: #000;
 }
 
.chart line {
  stroke: #c1c1c1;
}

.chart line.benchmark {
  stroke: #F6A354;
  stroke-width: 2;
}

.chart .benchmark_rule {
  fill: #F6A354;
}

.chart .benchmark_label {
  fill: #F6A354;
}




/*** MISC ***/



/* @license
 * MyFonts Webfont Build ID 2478206, 2013-02-12T23:18:43-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Museo Slab 500 by exljbris
 * URL: http://www.myfonts.com/fonts/exljbris/museo-slab/500/
 * Copyright: Copyright (c) 2009 by Jos Buivenga. All rights reserved.
 * Licensed pageviews: Unlimited
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2478206
 *
 * ï¿½ 2013 MyFonts Inc
*/

@font-face {
  font-family: 'MuseoSlab500';
  src: url('https://github.com/Logaritmisk/wunderpong/raw/master/themes/wunderpong/fonts/museo-slab-500.eot');
  src: url('https://github.com/Logaritmisk/wunderpong/raw/master/themes/wunderpong/fonts/museo-slab-500.eot?#iefix') format('embedded-opentype'),
       url('https://github.com/Logaritmisk/wunderpong/raw/master/themes/wunderpong/fonts/museo-slab-500.woff') format('woff'),
       url('https://github.com/Logaritmisk/wunderpong/raw/master/themes/wunderpong/fonts/museo-slab-500.ttf') format('truetype');
}