
#steno-keyboard {
    position: static;
    width: auto;
}

.word-list {
    columns:100px 5;
    -webkit-columns:100px 5; /* Safari and Chrome */
    -moz-columns:100px 5; /* Firefox */
    line-height: 1.5em;
}

.tag {
    font-size: 0.8em;
}

.tag:before {
    content: '#';
}

.tag:after {
    content: ' ';
}
