

/****** Steno Keyboard ******/

#steno-keyboard {
  /* Position */
  position: absolute;
  
  /* Box */
  width: 348px;
  height: 174px;
  padding: 10px;
  border: 3px solid #FFFEFD;
  margin: 0px;

}

.steno-number-bar {
  /* Box */
  width: 100%;
  height: 15%;
  padding: 0;
  border: 0;
  margin: 0 0 0.625% 0;
}

.steno-upper-bank {
  /* Box */
  width: 100%;
  height: 25%;
  padding: 0;
  border: 0;
  margin: 0.625% 0 0.625% 0;
}

.steno-lower-bank {
  /* Box */
  width: 100%;
  height: 25%;
  padding: 0;
  border: 0;
  margin: 0.625% 0 3.75% 0;
}

.steno-vowel-keys {
  /* Box */
  width: 100%;
  height: 25%;
  padding: 0;
  border: 0;
  margin: 3.75% 0 0 0;
}

#steno-key-number-bar {
  /* Position */
  float: left;

  /* Box */
  width: 100%;
  height: 100%;

  padding: 0;
  border: 0;
  margin: 0;

  -webkit-border-radius: 0.9375% / 12.5%;
  -moz-border-radius: 0.9375% / 12.5%;
  border-radius: 0.9375% / 12.5%;

  /* Color */  
  color: #679c9f;
  background-color: #FFFEFD;

  /* Text */
  font-family: sans-serif;
  font-size: 22px;
  text-align: center;
  line-height: 44px;	
}

.steno-key {
  /* Position */
  float: left;

  /* Box */
  width: 7.5%;
  height: 100%;

  padding: 0;
  border: 0;
  margin: 0 1.25% 0 1.25%;

  /* Color */
  color: #749490; /* Dark Blue Green */
  background-color: #FFFEFD;

  /* Text */
  font-size: 20px;
  text-align: center;
  line-height: 41px;	
}

.square {
  /* Box */
  -webkit-border-radius: 12.5% / 7.5%;
  -moz-border-radius: 12.5% / 7.5%;
  border-radius: 12.5% / 7.5%;
}

.rounded {
  /* Box */
  -webkit-border-radius: 12.5% / 7.5%;
  -webkit-border-bottom-right-radius: 50% 30%;
  -webkit-border-bottom-left-radius: 50% 30%;
  -moz-border-radius: 12.5% / 7.5%;
  -moz-border-radius-bottomright: 50% 30%;
  -moz-border-radius-bottomleft: 50% 30%;
  border-radius: 12.5% / 7.5%;
  border-bottom-right-radius: 50% 30%;
  border-bottom-left-radius: 50% 30%;
}

#steno-key-s-1, #steno-key-s-2 {
  /* Box */
  margin-left: 0;
}

#steno-key-h-, #steno-key-r- {
  /* Box */
  margin-right: 1.875%;
}

#steno-key-asterisk-1, #steno-key-asterisk-2 {
  /* Box */
  margin-left: 1.875%;
  margin-right: 1.875%;
}

#steno-key--f, #steno-key--r {
  /* Box */
  margin-left: 1.875%;
}

#steno-key--d, #steno-key--z {
  /* Box */
  margin-right: 0;
}

#steno-key-a- {
  /* Box */
  margin-left: 27.8125%;
  margin-right: 0.3125%;	
}

#steno-key-o- {
  /* Box */
  margin-left: 0.3125%;
  margin-right: 1.5625%;	
}

#steno-key--e {
  /* Box */
  margin-left: 1.5625%;
  margin-right: 0.3125%;	
}

#steno-key--u {
  /* Box */
  margin-left: 0.3125%;
}

