


/* css skeleton
  /* Position - put things that affect things outside the box
  display: block;

  /* Box - put styles that affect the box
  width: 100%;
  height: 100%;

  padding: 0px;
  border: 0px;
  margin: 0px;

  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;

  /* Colors - put the colors for the content of the box
  color: #000000; #799F99;   blue-green
  background-color: #FFFEFD; #F6A354;   orange

  /* Text - put styles that affect the content text
  font-family: "MuseoSlab500", arial, sans-serif;
  font-size: 1em;
  text-align: center;
*/






html {
  height: 100%;  /* fixes background not showing */
}

body {
  height: 100%;  /* fixes background not showing */

  /* Text */
  font-family: "MuseoSlab500", arial, sans-serif;
  /*text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);  *//* letterpress effect */

  overflow: hidden;
}







#header {
  /* Colors */  
  color: #FFFEFD;  /* white */

  /* Text */
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px rgba(123, 193, 188, 0.75), 3px 3px 1px #FFFEFD;  /* retro effect */
}



.orange {
  color: #000000;
  background-color: #F6A354; /* Orange */
}

.gray {
  color: #000000;
  background-color:  #C7D4D1;
}


/** Foundation overrides */

ul.pagination li a {
  color: #FFFEFD; /* white */
}

ul.pagination li:hover a {
  color: #749490; /* Dark Blue Green */
}

.top-bar {
    height: initial; /* weird hack*/
}


/* google-style scrollbars */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.4);
}
