.toggle-state-0 {
    /* Color normal */
    color: #679c9f;
    background-color: #FFFEFD;
}

.toggle-state-1 {
    /* Color include */
    color: #FFFEFD;
    background: #83B5A7; /* Green */
}

.toggle-state-2 {
    /* Color require*/
    color: #FFFEFD;
    background: #F6A354; /* Orange */
}

.wordlist {
    max-width: 600px;
    text-align: justify;
    word-wrap: break-word;
    font-size: 2em;
}

.wordlist span:before {
    content: ' ';
}

.controls {
    clear: both;
}

