.toggle-state-0 {
    /* Color */
    color: #679c9f;
    background-color: white;
}

.toggle-state-1 {
    /* Color */
    color: white;
    background: green;
}

.toggle-state-2 {
    /* Color */
    color: white;
    background: #000000;
}

.wordlist {
    max-width: 600px;
    text-align: justify;
    word-wrap: break-word;
    font-size: 2em;
}

.wordlist span:before {
    content: ' ';
}

.mastery-0 {

}

.mastery-100 {
    background: green;
    color: white;
}

.controls {
    clear: both;
}

