<div class="row">
    <div class="large-2 columns">&nbsp;</div>
    <div class="large-8 columns">
        <h1>About</h1>

        <h2>Contact Info</h2>

        <p>For any feedback or questions about this site, contact
        <address><a href="mailto:ploverdojo@gmail.com">ploverdojo@gmail.com</a></address>

        <h2>Acknowledgements</h2>

        <p>So many thanks to <a href="http://stenoknight.com/">Mirabai Knight</a> for commissioning the open source
            project of
            Plover! She has dedicated SUBSTANTIAL time and resources to help us, out as well as help out the growing
            Plover community.</p>

        <p>Also a huge thanks to <a href="https://github.com/balshetzer">Hesky Fisher</a> and <a
                href="http://web.media.mit.edu/~lifton/">Josh
            Lifton</a> for the development work on <a href=""></a>Plover.</p>

        <p>Thanks to those who took the time to answer some of my questions, including Stephen, Ecen, and Andi.</p>

        <p>Thanks also to the Plover Community for all the other cool Plover stuff!</p>

        <h2>Credits</h2>

        <p>Developers: JR, Jay Liu</p>

        <p>Interaction Design: Jay Liu</p>

        <p>Graphic Design: <a href="http://myntillae.com">Myntillae Nash</a></p>

        <p>Subject Matter Expert Extraordinaire: <a href="http://stenoknight.com/">Mirabai Knight</a></p>

        <h2>Ways to help out</h2>

        <p>If you find any issues, feel free to log them at our <a href="https://github.com/cyanos/ploverdojo"
                                                                   title="GitHub repository">GitHub repository</a>.</p>

        <p>We are always looking for developers, designers, etc. So if you got skills and are interested, get in contact
            with
            us!</p>


    </div>

    <div class="large-2 columns">&nbsp;</div>
</div>