<!doctype html>
<html>
	<head>
		<title>Plover Pad</title>

		<!-- import jquery stuff -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    
		<!-- import style sheets -->
		<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="css/ploverquiz.css">
    <link rel="stylesheet" type="text/css" href="css/base.css">
	</head>
	<body>
		<div id="header">
      <p>Welcome, {{user}} </p>
      <p>You are on quiz {{quizNo}}</p>
      <p>{{lessonDescription}}</p>
    </div>
    
    <div class="nav">
      <ul>
        {% if hasPrevious %}
          <li><a href="?quiz={{ quizNo - 1 }}">Previous Quiz</a></li>
        {% endif %}
        {% if hasNext %}
          <li><a href="?quiz={{ quizNo + 1 }}">Next Quiz</a></li>
        {% endif %}
      </ul>
    </div>

    {% block stenoKeyboard %}
    {% endblock %}
    
    <!-- make elements draggable and resizable -->
		<script type="text/javascript" src="js/uiElements.js"></script>

		<!-- do the steno thing! -->
		<script type="text/javascript" src="js/ploverquiz.js"></script>
 
  </body>
</html>