<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Plover Dojo</title>

    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/ploverquiz.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="js/main.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
  </head>
  <body>
  <h1>Dashboard</h1>
    <p><a href="/tutor">Tutor</a></p>
    <p><a href="/quiz">Take next quiz</a></p> 
    <p><a href="/introduction">See Introduction</a></p>
  </body>
</html>
