<div class="row">
    <div class="large-4 columns">
        <a href="/home.html"><img src="assets/emblem.png" alt="Plover Dojo"></a>
    </div>
    <div class="large-8 columns">
        <div>
            Welcome to the
        </div>
        <div id="title-text">
            Plover Dojo
        </div>
        <div id="tagline-text">
            The place to stenography through games and competition!
        </div>

    </div>
</div>
<div class="row">
    <div class="large-4 columns right">
        <a class="button" href="/main">ENTER to Begin Training!</a>
    </div>
</div>

<div class="row">
    <div class="large-6 columns">
        <figure>
            <h2>Intended Audience</h2>

            <h3>Plover Dojo is for those who</h3>
            <ul>
                <li>want to write or transcribe prose (daily-life English)</li>
                <li>are fine with Plover’s StenEd-based theory</li>
                <li>will be using a standard QWERTY keyboard (rather than stenotype machine)</li>
            </ul>
        </figure>
    </div>
    <div class="large-6 columns">
        <figure>
            <h2>Philosophy</h2>
            <ol>
                <li>
                    <strong class="label">Exploratory </strong>- Curiosity in learning should be supported
                </li>
                <li>
                    <strong class="label">Customized </strong>- Each learner has specific needs and a specific point of
                    progress
                </li>
                <li>
                    <strong class="label">Progress-driven</strong> - Learners should know exactly where they are in the
                    process
                </li>
                <li>
                    <strong class="label">Meaningful</strong> - Time spent learning should quickly map to real-world
                    skill
                </li>
                <li>
                    <strong class="label">Fun! </strong>- It should at least be engaging
                </li>
            </ol>
        </figure>
    </div>
</div>

<div class="row">
    <div class="large-6 columns">

        <figure>
            <h2>Skills</h2>

            <p>Three levels of stenotype will be covered:</p>
            <ol>
                <li>
                    <h3>Beginner</h3>
                    <ul>
                        <li>Steno movement and mechanics</li>
                        <li>Steno Keyboard</li>
                        <li>Alphabet</li>
                    </ul>
                </li>
                <li>
                    <h3>Intermediate</h3>
                    <ul>
                        <li>Key combinations</li>
                        <li>Single-stroke words</li>
                        <li>Punctuation and spacing</li>
                        <li>Multi-stroke words</li>
                    </ul>
                </li>
                <li>
                    <h3>Advanced (forthcoming)</h3>
                    <ul>
                        <li>Adding words to the dictionary</li>
                        <li>Speed</li>
                    </ul>
                </li>

            </ol>
        </figure>

    </div>

    <div class="large-6 columns">
        <figure>
            <h2>Requirements</h2>
            <ul>
                <li>Have QWERTY keyboard preferably with NKRO. (Turn off Dvorak)</li>
                <li>Browser: we support Chrome or Firefox</li>
                <li>Meant to be used <em>without</em> Plover activated</li>
            </ul>
        </figure>
    </div>

</div>


<div class="row">
    <div class="large-6 columns">
        <h2>Previews</h2>

        <h3>Keyboard Tutor</h3>
        <figure>
            <img src="assets/sample_tutor.png" width="360">
            <figcaption>
                <p>The steno keyboard is very different than typing on a Qwerty keyboard. The lessons are interactive,
                    hands-on, and visual. You see exactly what you are typing</p>
            </figcaption>
        </figure>

        <h3>Quizzes</h3>
        <figure><img src="assets/sample_quiz.png" width="360">
            <figcaption>
                <p>Find exercises for both words and individual steno keys. See both QWERTY and Steno keyboards at the
                    same time.</p>
            </figcaption>
        </figure>

    </div>
    <div class="large-6 columns">

        <figure>
            <h2>What is Plover?</h2>

            <p>We named it Plover after the first free open source <a href="http://stenoknight.com/wiki/Main_Page"
                                                                      target="_blank">stenography program</a>
                available <a href="https://github.com/plover/plover/releases" target="_blank" title="Download Plover">here
                    for
                    download</a></p>
        </figure>
    </div>
</div>

<div class="row">
    <div class="large-8 columns">&nbsp;</div>
    <div class="large-4 columns">
        <a class="button" href="/main">ENTER</a> to get started,</a>
        <div>
            or <a href="steno.html">read more about
            Stenography.
        </div>
    </div>
</div>

