<div id="welcome-banner">
    <div>
        Welcome to the
    </div>
    <div id="title-text">
        Plover Dojo
    </div>
    <div id="tagline-text">
        The place to stenography through games and competition!
    </div>

    <a class="arrow-button" href="/lessons">
        <button>ENTER to Get Started!</button>
    </a>
</div>

<div class="two-column">
    <figure>
        <h3>Intended Audience</h3>
        <p>For those who</p>
        <ul>
            <li>want to write or transcribe prose (daily-life English)</li>
            <li>are fine with Plover’s StenEd-based theory</li>
            <li>will be using a standard QWERTY keyboard (rather than stenotype machine)</li>
        </ul>
    </figure>
    <figure>
        <h3>Philosophy</h3>
        <ol>
            <li>
                <strong>Exploratory </strong>- Curiosity in learning should be supported
            </li>
            <li>
                <strong>Customized </strong>- Each learner has specific needs and a specific point of progress
            </li>
            <li>
                <strong>Progress-driven</strong> - Learners should know exactly where they are in the process
            </li>
            <li>
                <strong>Meaningful</strong> - Time spent learning should quickly map to real-world skill
            </li>
            <li>
                <strong>Fun! </strong>- It should at least be engaging
            </li>
        </ol>
    </figure>
    <figure>
        <h3>Requirements</h3>
        <ul>
            <li>Have QWERTY keyboard preferably with NKRO</li>
            <li>Browser: we support Chrome or Firefox</li>
        </ul>
    </figure>
    <figure>
        <h3>Lessons</h3>

        <p>Three levels of stenotype will be covered:</p>
        <ol>
            <li>
                <p>Beginner</p>
                <ul>
                    <li>Steno movement and mechanics</li>
                    <li>Steno Keyboard</li>
                    <li>Alphabet</li>
                </ul>
            </li>
            <li>
                <p>Intermediate</p>
                <ul>
                    <li>Key combinations</li>
                    <li>Single-stroke words</li>
                    <li>Punctuation and spacing</li>
                    <li>Multi-stroke words</li>
                </ul>
            </li>
            <li>
                <p>Advanced (forthcoming)</p>
                <ul>
                    <li>Adding words to the dictionary</li>
                    <li>Speed</li>
                </ul>
            </li>

        </ol>
        <img src="assets/sample_tutor.png" width="360">
        <figcaption>
            <p>The lessons are interactive, hands-on, and visual. You see exactly what you are typing</p>
        </figcaption>
    </figure>
    <br>

    <figure>
        <h3>Quizzes</h3>
        <img src="assets/sample_quiz.png" width="360">
        <figcaption>
            <p>See both QWERTY and Steno keyboards at the same time.</p>
        </figcaption>
    </figure>
    <figure>
        <h3>Games</h3>
        <figcaption><p>Coming!</p></figcaption>
    </figure>
    <figure>
        <h3>What is Plover?</h3>
        <p>We named it Plover after the first free open source <a href="http://stenoknight.com/wiki/Main_Page"
                                                                  target="_blank">stenography program</a>
            available <a href="https://github.com/plover/plover/releases" target="_blank" title="Download Plover">here for
                download</a></p>
    </figure>
</div>
<a class="button" href="/lessons">ENTER</a> to get started, or <a href="steno.html">read more about Stenography.</a>
