<div id="welcome-banner">
    <div>
        Welcome to the
    </div>
    <div id="title-text">
        Plover Dojo
    </div>
    <div id="tagline-text">
        The place to stenography through games and competition!
    </div>

    <a class="arrow-button" href="/dashboard"><button>ENTER to Get Started!</button></a>
</div>
<h2>What is Plover Dojo?</h2>

<p>
    The Plover Dojo is a place where people with a standard keyboard can game their way to mastering the skill of
    stenography. We named it Plover after the first free open source <a href="http://stenoknight.com/wiki/Main_Page"
                                                                        target="_blank">stenography program</a>
    available <a href="https://github.com/plover/plover/releases" target="_blank" title="Download Plover">here for
    download</a>.
</p>

<h2>What's Inside?</h2>

<div class="two-column">

    <figure>
        <h3>Lessons</h3>
        <img src="assets/sample_tutor.png" width="360">
        <figcaption>
            <p>The lessons are interactive, hands-on, and visual. You see exactly what you are typing</p>
        </figcaption>
    </figure>
    <br>

    <figure>
        <h3>Quizzes</h3>
        <img src="assets/sample_quiz.png" width="360">
        <figcaption>
            <p>See both QWERTY and Steno keyboards at the same time.</p>
        </figcaption>
    </figure>
    <figure>
        <h3>Games</h3>
        <figcaption><p>Coming!</p></figcaption>
    </figure>
</div>
<a class="button" href="dashboard">ENTER</a> to get started, or <a href="steno.html">read more about Stenography.</a>
