<!doctype html>
<html>
    <head>
        <title>Plover Dojo</title>

        <!-- stylesheets -->
        <link rel="stylesheet" href="/">

        <!-- scripts -->
        <script src="/"></script>
    </head>
    <body>
        <div id="header">
            Welcome, {{user}}
        </div>
        
        <div id="navigation">
            <a href="/">KBD LAYOUT</a>
            <a href="/">ALPH</a>
            <a href="/">EC</a>
            <a href="/">CUST</a>
            <a href="/">CORE</a>
            <a href="/">EXCEPT</a>
            <a href="/">PHON&rarr;CHORDS</a>
            <a href="/">READ</a>
            <a href="/">THERE ARE PHONEMES!</a>
        </div>
    </body>
</html>
