<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Plover Dojo | {{ title }}</title>

    <link rel="stylesheet" href="css/vendor/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/css/vendor/general_enclosed_foundicons.css">
    <link rel="stylesheet" href="css/vendor/foundation.css"/>
    <link rel="stylesheet" type="text/css" href="css/webfonts.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

    <script src="js/lib/foundation.min.js"></script>
    <script src="js/lib/custom.modernizr.js"></script>


</head>
<body>
<header id="static_header">
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name"> </li>
            <li class="toggle-topbar menu-icon">

            </li>
        </ul>
        <section class="top-bar-section">
            <ul class="left">
                <li><a href="/main">Begin Training</a></li>
                <li><a href="/steno.html">What is Stenography?</a></li>
                <li><a href="/about.html">About</a></li>

            </ul>
            <ul class="right">
                <li>
                    <a href="{{ logout_url }}" class="logout_link">Logout</a></li>
            </ul>
    </nav>

</header>
<main>
    {{ content | safe }}
</main>
<footer>
</footer>
</body>
</html>
