{% extends "ploverquiz.html" %}


{% block stenoKeyboard %}
	<!-- STENO KEYBOARD -->
  <div class="keyboards" id="stenoKeyboard">
    <div class="stenoNumberBar">
      <div class="stenoKey numberBar code48 code49 code50 code51 code52 code53 code54 code55 code56 code57" id="stenoKeyNumberBar"></div>
    </div>
    <div class="stenoUpperBank">
      <div class="stenoKey square code81 code65" id="stenoKeyS-1">S</div>
      <div class="stenoKey square code87" id="stenoKeyT-">T</div>
      <div class="stenoKey square code69" id="stenoKeyP-">P</div>
      <div class="stenoKey square code82" id="stenoKeyH-">H</div>
      <div class="stenoKey square code71 code72 code84 code89" id="stenoKeyAsterisk1">*</div>
      <div class="stenoKey square code85" id="stenoKey-F">F</div>
      <div class="stenoKey square code73" id="stenoKey-P">P</div>
      <div class="stenoKey square code79" id="stenoKey-L">L</div>
      <div class="stenoKey square code80" id="stenoKey-T">T</div>
      <div class="stenoKey square code219" id="stenoKey-D">D</div>
    </div>
    <div class="stenoLowerBank">
      <div class="stenoKey rounded code81 code65" id="stenoKeyS-2">S</div>
      <div class="stenoKey rounded code83" id="stenoKeyK-">K</div>
      <div class="stenoKey rounded code68" id="stenoKeyW-">W</div>
      <div class="stenoKey rounded code70" id="stenoKeyR-">R</div>
      <div class="stenoKey rounded code71 code72 code84 code89" id="stenoKeyAsterisk2">*</div>
      <div class="stenoKey rounded code74" id="stenoKey-R">R</div>
      <div class="stenoKey rounded code75" id="stenoKey-B">B</div>
      <div class="stenoKey rounded code76" id="stenoKey-G">G</div>
      <div class="stenoKey rounded code59 code186" id="stenoKey-S">S</div>
      <div class="stenoKey rounded code222" id="stenoKey-Z">Z</div>
    </div>
    <div class="stenoVowelKeys">
      <div class="stenoKey rounded code67" id="stenoKeyA-">A</div>
      <div class="stenoKey rounded code86" id="stenoKeyO-">O</div>
      <div class="stenoKey rounded code78" id="stenoKey-E">E</div>
      <div class="stenoKey rounded code77" id="stenoKey-U">U</div>
    </div>
  </div>
{% endblock %}