<!-- STENO KEYBOARD -->
      <div id="steno-keyboard">
        <div class="steno-number-bar">
          <div class="steno-key number-bar code-48 code-49 code-50 code-51 code-52 code-53 code-54 code-55 code-56 code-57" id="steno-key-number-bar"></div>
        </div>
        <div class="steno-upper-bank">
          <div class="steno-key square code-81 code-65" id="steno-key-s-1">S</div>
          <div class="steno-key square code-87" id="steno-key-t-">T</div>
          <div class="steno-key square code-69" id="steno-key-p-">P</div>
          <div class="steno-key square code-82" id="steno-key-h-">H</div>
          <div class="steno-key square code-71 code-72 code-84 code-89" id="steno-key-asterisk-1">*</div>
          <div class="steno-key square code-85" id="steno-key--f">F</div>
          <div class="steno-key square code-73" id="steno-key--p">P</div>
          <div class="steno-key square code-79" id="steno-key--l">L</div>
          <div class="steno-key square code-80" id="steno-key--t">T</div>
          <div class="steno-key square code-219" id="steno-key--d">D</div>
        </div>
        <div class="steno-lower-bank">
          <div class="steno-key rounded code-81 code-65" id="steno-key-s-2">S</div>
          <div class="steno-key rounded code-83" id="steno-key-k-">K</div>
          <div class="steno-key rounded code-68" id="steno-key-w-">W</div>
          <div class="steno-key rounded code-70" id="steno-key-r-">R</div>
          <div class="steno-key rounded code-71 code-72 code-84 code-89" id="steno-key-asterisk-2">*</div>
          <div class="steno-key rounded code-74" id="steno-key--r">R</div>
          <div class="steno-key rounded code-75" id="steno-key--b">B</div>
          <div class="steno-key rounded code-76" id="steno-key--g">G</div>
          <div class="steno-key rounded code-59 code-186" id="steno-key--s">S</div>
          <div class="steno-key rounded code-222" id="steno-key--z">Z</div>
        </div>
        <div class="steno-vowel-keys">
          <div class="steno-key rounded code-67" id="steno-key-a-">A</div>
          <div class="steno-key rounded code-86" id="steno-key-o-">O</div>
          <div class="steno-key rounded code-78" id="steno-key--e">E</div>
          <div class="steno-key rounded code-77" id="steno-key--u">U</div>
        </div>
      </div>
    </div>